---
layout: default
---

<article class="post">
  <h1 class="post-title">{{ page.title }}</h1>

  {{ content }}

</article>

{% if site.articles != empty %}
<aside class="related">
  <h2>About Gobs and Gods</h2>
  <ul class="related-posts">
  {%- assign posts = site.articles -%}
    {% for post in posts  %}
      <li>
        <a href="{{ post.url | relative_url }}">
          {{ post.title }}
         
<!-- <small><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time></small>
-->
        </a>
      </li>
    {% endfor %}
  </ul>
  
  {%- include footer-links.html -%}
  
</aside>
{% endif %}
